{% extends 'base.html' %} {% block content %}

<div class="container signin-form">
  <h1>Registrarse</h1>

  <form action="/signup/" method="POST">
    {% csrf_token %}
    <div class="form-group mb-3">
      <input type="text" class="form-control form-content-input" name="{{form.username.name}}" placeholder="Usuario">
    </div>
    <div class="form-group mb-3">
      <input type="password" class="form-control form-content-input" name="{{form.password1.name}}" placeholder="Contraseña">
    </div>
    <div class="form-group mb-3">
      <input type="password" class="form-control form-content-input" name="{{form.password2.name}}" placeholder="Repita la contraseña">
    </div>

    <p>
      {{error}}
    </p>
    <button class="btn btn-success">Registrarse</button>
  </form>
</div>
{% endblock %}
